{% extends 'layout.html.twig' %}

{% block content %}
    <section class="index">
    What is
    <div class="username">
        <input type="text" />
    </div>
    currently listening to?
    </section>

    <a href="https://github.com/Dinduks/lastfm-currently-listening-to"><img style="position: absolute; top: 0; right: 0; border: 0;" src="//s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
{% endblock %}
